<%= error_messages_for 'property' %>

<!--[form:property]-->
<p><label for="property_name"><%= t :"global_name" %></label><br/>
<%= text_field 'property', 'name'  %></p>
<p><label for="property_city"><%= t :"global_city" %></label><br/>
<%= text_field 'property', 'city'  %></p>
<p><label for="property_country"><%= t :"global_country" %></label><br/>
<%= text_field 'property', 'country'  %></p>
<!--[eoform:property]-->

