Hello <%= @name %>,

Thanks for signing up on Solunas.org!

Please confirm your E-mail by clicking on the following link:

http://rsolunas.de/register/confirm_user?valid_key=<%= @valid_key %>

Best regards,

Marc Isemann
http://www.solunas.org