<%= t :"user_admin.menu.header" %>:

<%= render :partial => "shared/submenu" %>

<hr noshade size="3" color="#eb8137">
<a href="http://solunas.org/11.0.html">
<%= t :"user_admin.menu.note", :bold_open => "<b>", :bold_close => "</b>" %>
</a>
<hr noshade size="3" color="#eb8137">