<div style="font-weight:bold; color:red; background:orange; padding:10px; margin:0; height:33px;">
  An error occured: <%= error %>.<br>
  Controller: <%= request[:controller] %>.<br>
  Action:  <%= request[:action] %>.<br>
</div>