<%= t :"user_admin.menu.header" %>:

<%= render :partial => "shared/submenu" %>

<hr noshade size="3" color="#eb8137">
<a href="http://www.solunas.org/wiki/index.php/Help_Section_Administration">
<%= t :"user_admin.menu.note", :bold_open => "<b>", :bold_close => "</b>" %>
</a>
<hr noshade size="3" color="#eb8137">