<h1><%= "Availability Calendar".t %></h1>
<div id="update_div">
<%= render_component(:action => "show_calendar_by_year", :params => {:room_id => @room.id,
                                                         :year => @year}) %>
</div>
<br><br>

<%= render_component(:action => "choose_calendar_by_year") %>